[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundles/ack"]
	path = bundles/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundles/vcscommand"]
	path = bundles/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundles/command-t"]
	path = bundles/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundles/supertab"]
	path = bundles/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundles/clang_complete"]
	path = bundles/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles/conque"]
	path = bundles/conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundles/markdown"]
	path = bundles/markdown
	url = https://github.com/vim-scripts/Markdown.git
[submodule "bundles/unimpaired"]
	path = bundles/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundles/vim-preview"]
	path = bundles/vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundles/perldoc"]
	path = bundles/perldoc
	url = git://github.com/hotchpotch/perldoc-vim.git
[submodule "bundles/fuzzyfinder"]
	path = bundles/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundles/l9"]
	path = bundles/l9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundles/vim-colors-solarized"]
	path = bundles/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundles/yankring"]
	path = bundles/yankring
	url = git://github.com/ornicar/vim-yankring.git
[submodule "bundles/minibufexpl"]
	path = bundles/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundles/cscope"]
	path = bundles/cscope
	url = git://github.com/vim-scripts/cscope_macros.vim.git
[submodule "bundles/bufexplorer"]
	path = bundles/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundles/endwise"]
	path = bundles/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundles/latex-suite"]
	path = bundles/latex-suite
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundles/syntastic"]
	path = bundles/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundles/surround"]
	path = bundles/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundles/nerdtree"]
	path = bundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles/repeat"]
	path = bundles/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundles/space"]
	path = bundles/space
	url = git://github.com/spiiph/vim-space.git
[submodule "bundles/netrw"]
	path = bundles/netrw
	url = git://github.com/vim-scripts/netrw.vim.git
[submodule "bundles/autocomplpop"]
	path = bundles/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "vim-latex-plugin"]
	path = vim-latex-plugin
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundles/delimitMate"]
	path = bundles/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundles/gundo"]
	path = bundles/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundles/gitv"]
	path = bundles/gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "bundles/vim-emacscommandline"]
	path = bundles/vim-emacscommandline
	url = https://github.com/houtsnip/vim-emacscommandline
[submodule "bundles/tagbar"]
	path = bundles/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "lazy/bufexplorer"]
	path = lazy/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "lazy/command-t"]
	path = lazy/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundles/detectindent"]
	path = bundles/detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule "bundles/asynccommand"]
	path = bundles/asynccommand
	url = git://github.com/pydave/AsyncCommand.git
