[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundles/ack"]
	path = bundles/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundles/vcscommand"]
	path = bundles/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundles/command-t"]
	path = bundles/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundles/supertab"]
	path = bundles/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundles/clang_complete"]
	path = bundles/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundles/fugitive"]
	path = bundles/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundles/nerdcommenter"]
	path = bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles/conque"]
	path = bundles/conque
	url = git://github.com/rson/vim-conque.git
[submodule "bundles/markdown"]
	path = bundles/markdown
	url = https://github.com/vim-scripts/Markdown.git
[submodule "bundles/unimpaired"]
	path = bundles/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundles/vim-preview"]
	path = bundles/vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundles/perldoc"]
	path = bundles/perldoc
	url = git://github.com/hotchpotch/perldoc-vim.git
[submodule "bundles/fuzzyfinder"]
	path = bundles/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundles/l9"]
	path = bundles/l9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundles/vim-colors-solarized"]
	path = bundles/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundles/yankring"]
	path = bundles/yankring
	url = git://github.com/ornicar/vim-yankring.git
[submodule "bundles/minibufexpl"]
	path = bundles/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundles/cscope"]
	path = bundles/cscope
	url = git://github.com/vim-scripts/cscope_macros.vim.git
